In [7]:
import numpy as np
import pandas as pd
from sklearn.manifold import TSNE

In [9]:
df = pd.read_csv("BAC.csv", parse_dates=True)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-05-11,17.080000,17.490000,16.969999,17.160000,15.332118,188202400
1,2010-05-12,17.270000,17.330000,16.990000,17.070000,15.251707,179359300
2,2010-05-13,17.030001,17.180000,16.850000,16.870001,15.073014,135257500
3,2010-05-14,16.709999,16.719999,16.120001,16.340000,14.599466,212906900
4,2010-05-17,16.389999,16.450001,15.850000,16.350000,14.608404,181966800

In [ ]:
data = df.drop("Date")

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
print(scaler.fit_transform(data))

NameError: name 'data' is not defined

In [ ]:
X_embedded = TSNE(n_components=2).fit_transform(X)